<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
	<script type="text/javascript" src="/static/angular/angular.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<title></title>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<!-- info for developers -->
	<!--
	<p>GAMES: {{games}}</p>
	<p>CURRENT GAME : {{active_game}}</p>
	<p>RESPONSE: {{response}}</p>
	-->

	<div ng-show="user_set == false">
		<div class="container initial">
			<form id='participant-data' ng-submit="save_user()" >
				<h1>Study: User Performance on Single Page Applications</h1>
				<div>Select the number of games that you wish to play (please enter 2, 3, 4, or 5): </div>
				<div><label>Games:</label><input type='number' ng-model="number_of_games"></div>
				<div><button type="submit" class="btn btn-success">Start Game</button></div>
			</form>
		</div>
	</div>


	<div ng-show="user_set == true && intermission == false" 
		ng-repeat="puzzle in games[active_game].puzzles">

	<!-- display one question at a time -->
	<div ng-show="$index == active_puzzle && load_screen == false;">
		<div class="container question">
			<h1>	{{puzzle.question}} </h1>
				<div ng-repeat="answer in puzzle.answers" class="col-xs-6">
					<a type="radio" data-id="{{answer.id}}" name='test' class="answer" ng-click="$parent.$parent.selected_answer = answer.id;save_response(games[active_game].id, puzzle.id)" ng-model="$parent.$parent.selected_answer">
						{{answer.text}}
					</a>
				</div>
		</div>
	</div>
	
	</div>


	<!-- loading widget -->
	<div ng-show="load_screen == true;">
		<div class="cssload-thecube">
			<div class="cssload-cube cssload-c1"></div>
			<div class="cssload-cube cssload-c2"></div>
			<div class="cssload-cube cssload-c4"></div>
			<div class="cssload-cube cssload-c3"></div>
		</div>
	</div>

	<!-- intermission -->
	<div ng-show="intermission == true;">
		<div class="container initial">
			<div class="intermission">
				<div><p> Please click when you are ready for the next game. </p></div>
				<div><button class="btn btn-success" ng-click="continue()">Continue</button></div>
			</div>
		</div>
	</div>

	<div ng-show="done == true;">
		<div class="container initial">
			<h1>Thank you! Your responses have been recorded.</h1>
		</div>
	</div>

<script type="text/javascript">
    window.onbeforeunload = function() {
        return "If you leave this page, your results will not be recorded!";
    }
</script>

</body>
</html>