<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/static/angular/angular.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<title></title>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	
	<p>GAME DELAY: {{game.delay}}</p>
	<p>RESPONSE: {{response}}</p>
	
	<div ng-show="user_set == false">
	<form id='participant-data' ng-submit="save_user()">
		<p>Hello! Please fill out the following information:</p>
		<label> Age: <input type='text' ng-model="response.participant.age"></label>
		<label> Gender: 
			<select ng-model="response.participant.gender">
				<option value="M">Male</option>
				<option value="F">Female</option>
			</select>
		</label>

		<button type="submit">Submit</button>
	</form>
	</div>


	<div ng-show="user_set == true" ng-repeat="puzzle in game.puzzles"> 

	<!-- display one question at a time -->
	<div ng-show="$index == active_puzzle && load_screen == false;">
		<p>	{{puzzle.question}} </p>
		<form class="puzzle-form" id="{{$index}}" ng-submit="save_response(puzzle.id)">
			<div ng-repeat="answer in puzzle.answers">
			<input type="radio" name='test' ng-model="$parent.$parent.selected_answer" ng-value="answer.id">
				{{answer.text}}
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
	
	</div>

	<!-- loading widget -->
	<div ng-show="load_screen == true;">
		<p> LOADING </p>
	</div>
	




</body>
</html>