<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
	<script type="text/javascript" src="/static/angular/angular.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<title></title>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<!-- info for developers -->
	<!--
	<p>GAMES: {{games}}</p>
	<p>CURRENT GAME : {{active_game}}</p>
	<p>RESPONSE: {{response}}</p>
	-->

	<div ng-show="user_set == false">
		<div class="container initial">
			<form id='participant-data' ng-submit="save_user()" >
				<h1>Study: User Performance on Single Page Applications</h1>
				<div class="instructions">You will be presented with a series of verbal analogies. For each analogy you must select the word that completes the relationship. For example:
						Aspirin is to headache as nap is to _______.
						<ol>
							<li>tylenol</li>
							<li>fatigue (correct answer)</li>
							<li>dancing</li>
							<li>sleeping</li>
						</ol>
					Choose the answer by clicking it. Be sure that your answer is final, as you will be unable to change it later.<br><br> Answer each puzzle as quickly and accurately as you can - within your comfortable pace. Each game you play consists of 10 of these puzzles. You can play between 2 and 5 games (with short breaks in between).</div>
				<div><label>Number of games:</label><input type='number' ng-model="number_of_games"></div>
				<div><label>Please enter your age:</label><input type='number' ng-model="age"></div>
				<div><button type="submit" class="btn btn-success">Start Game</button></div>
			</form>
		</div>
	</div>


	<div ng-show="user_set == true && intermission == false" 
		ng-repeat="puzzle in games[active_game].puzzles">

	<!-- display one question at a time -->
	<div ng-show="$index == active_puzzle && load_screen == false;">
		<div class="container question">
			<h1>	{{puzzle.question}} </h1>
				<div ng-repeat="answer in puzzle.answers" class="col-xs-6">
					<a type="radio" data-id="{{answer.id}}" name='test' class="answer" ng-click="$parent.$parent.selected_answer = answer.id;save_response(games[active_game].id, puzzle.id)" ng-model="$parent.$parent.selected_answer">
						{{answer.text}}
					</a>
				</div>
		</div>
	</div>
	
	</div>


	<!-- loading widget -->
	<div ng-show="load_screen == true;">
		<div class="cssload-thecube">
			<div class="cssload-cube cssload-c1"></div>
			<div class="cssload-cube cssload-c2"></div>
			<div class="cssload-cube cssload-c4"></div>
			<div class="cssload-cube cssload-c3"></div>
		</div>
	</div>

	<!-- intermission -->
	<div ng-show="intermission == true;">
		<div class="container initial">
			<div class="intermission">
				<div><p> Take a moment before continuing to the next game. You are encouraged to take a break less than two minutes long. Please click when you are ready for the next game. </p></div>
				<div><button class="btn btn-success" ng-click="continue()">Continue</button></div>
				<div><button ng-hide="active_game == 0" class="btn btn-danger" ng-click="terminate()">Save and Exit</button></div>
			</div>
		</div>
	</div>
	<!-- frustration -->
	<div ng-show="frustration == true;">
		<div class="container">
			<div class="frustration">
				<div><p> On a scale of 1 to 5 (1 - Not frustrating, 5 - Very Frustrating), how frustrating was this game? </p></div>
			  <form role="form">
			    <label class="radio-inline">
			      <input type="radio" ng-model="frustrationValue" value="1">1
			    </label>
			    <label class="radio-inline">
			      <input type="radio" ng-model="frustrationValue" value="2">2
			    </label>
			    <label class="radio-inline">
			      <input type="radio" ng-model="frustrationValue" value="3">3
			    </label>
			    <label class="radio-inline">
			      <input type="radio" ng-model="frustrationValue" value="4">4
			    </label>
			    <label class="radio-inline">
			      <input type="radio" ng-model="frustrationValue" value="5">5
			    </label>
			  </form>
			  <button ng-click="save_frustration()" class="btn btn-success">Submit</button>
 			</div>
		</div>
	</div>

	<div ng-show="done == true;">
		<div class="container initial">
			<h1>Thank you! Your responses have been recorded.</h1>
		</div>
	</div>

<script type="text/javascript">
    window.onbeforeunload = function() {
        return "If you leave this page, your results will not be recorded!";
    }
</script>

</body>
</html>